// Layout
//
// Styles for managing the structural hierarchy of the site.

.my-id {
  float: left;
  margin-right: 1em;
  padding-top: 3px;

  img {
    margin-bottom: 0;
  }
}

.about-photos {
  text-align: center;
  img {
    width: 45%;
    display: inline;
  }

  @media (min-width: 30em) {
    float: right;

    img {
      width: 200px;
      text-align: inherit;
      display: block;
      margin-left: 1rem;
    }
  }
}

.container {
  max-width: 920px;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);

  a {
    float: right;
  }
}
